[submodule "packages/accounts-ui-bootstrap-3"]
	path = packages/accounts-ui-bootstrap-3
	url = https://github.com/mangasocial/meteor-accounts-ui-bootstrap-3.git
[submodule "packages/less-bootstrap-3"]
	path = packages/less-bootstrap-3
	url = https://github.com/DerMambo/less-bootstrap-3.git
[submodule "packages/iron-router"]
	path = packages/iron-router
	url = https://github.com/EventedMind/iron-router.git
[submodule "packages/iron-router-active"]
	path = packages/iron-router-active
	url = https://github.com/XpressiveCode/iron-router-active.git
