<template name="header">
  <div class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">Fusic <small>Realtime Social Music Collaboration</small></a>
    </div>

    <div class="navbar-right container-fluid">
      <ul id="login" class="nav navbar-nav">
        {{> loginButtons }}
      </ul>
    </div>

    {{#if currentUser}}
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{ isActivePath regex='playlists' }}"><a href="{{pathFor 'playlists'}}">Playlists</a></li>
          <li class="{{ isActivePath regex='loved'     }}"><a href="{{pathFor 'loved'}}">Loved songs</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    {{/if}}

  </div>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block nav-editprofile"><span class="glyphicon glyphicon-user"></span> Edit profile</button>
    <button class="btn btn-default btn-block nav-reportissue"><span class="glyphicon glyphicon-exclamation-sign"></span> Report issue</button>
</template>
