<template name="footer">
{{#if currentUser}}
  <div class="container">
    {{> player}}
  </div>
{{/if}}
</template>

<template name="player">
  <div id="player" class="container">
    <div class="row">
      {{#unless isLinked}}
        <!-- play/pause button, 1 wide -->
        <div class="col-md-2 col-xs-2">
          <button class="player-control-button btn btn-default btn-xs" id="player-previous"><span class="glyphicon glyphicon-step-backward"></span></button>
        {{#if sessionIs 'playerState' 'playing'}}
          <button class="player-control-button btn btn-default btn-xs" id="player-pause"><span class="glyphicon glyphicon-pause"></span></button>
        {{else}}
          <button class="btn btn-default btn-xs" id="player-play"><span class="glyphicon glyphicon-play"></span></button>
        {{/if}}
          <button class="player-control-button btn btn-default btn-xs" id="player-next"><span class="glyphicon glyphicon-step-forward"></span></button>
        </div>

        <!-- stop button, 1 wide -->
        <div class="col-md-1 col-xs-1">
          <button class="btn btn-default btn-xs player-control-button" id="player-stop"><span class="glyphicon glyphicon-stop"></span></button>
        </div>
      {{else}}
        <div class="col-md-3 col-xs-1">
          <p>Linked to {{#with userFromId isLinked}}{{> userLink}}{{/with}}
          <button class="btn btn-default btn-xs" id="detachfromUser"><span class="glyphicon glyphicon-remove"></span></button></p>
        </div>
      {{/unless}}

      <!-- progress bar 8 wide -->
      <div id="player-progress" class="col-md-7 col-xs-7">
        <div class="progress" id="player-progressbar-container">
          <span id="player-song-title">This is the most awesome song ever - Awesomeness</span>
          <span id="player-song-duration">13:37</span>
          <div class="progress-bar progress-bar" id="player-progressbar" role="progressbar">
          </div>
        </div>
      </div>

      <!-- player toggle button; 1 wide -->
      <div id="player-youtube" class="col-md-2 col-xs-2">
        <div class="dropup inline" id="ytplayer">
          <button class="btn btn-default btn-xs" data-toggle="dropdown">
            <span class="glyphicon glyphicon-expand"></span>
          </button>
          <ul class="dropdown-menu" id="ytdropdown">
            <li><div id="youtube-embed"></div></li>
          </ul>
        </div>

        <div class="dropup inline">
          <button href="#" class="btn btn-default btn-xs" data-toggle="dropdown">
            <span class="glyphicon glyphicon-music"></span>
          </button>
          {{> currentPlaylist}}
        </div>

        <div class="dropup inline">
          <button href="#" class="btn btn-default btn-xs" data-toggle="dropdown">
            <span class="glyphicon glyphicon-volume-down"></span>
          </button>
          <ul class="dropdown-menu"><li>
            <div id="volumecontrol">
              <div class="track">
                <div class="bar" style="width:0px"></div>
                <div class="thumb" style="left:0px"></div>
              </div>
            </div>
          </li></ul>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</template>

<template name="currentPlaylist">
  <ul class="dropdown-menu" id="playerSongList">
    {{#with currentPlaylist}}
      {{#each playlist.songs}}
        <li>
          {{> queueSong}}
        </li>
        <li class="divider"></li>
      {{/each}}
    {{/with}}
  </ul>
</template>

<template name="queueSong">
  <a>
    {{#if isCurrent ../playlist ../index}}
      <b>{{song.snippet.title}}</b>
    {{else}}
      {{song.snippet.title}}
    {{/if}}
  </a>
</template>
