<template name="searchBar">
  <div class="row" id="searchArea">
    {{#if param 'lovedToggle'}}
      <div class="col-md-{{param 'lovedToggleWidth'}}">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-heart"></span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {{#each lovedSongs}}
            <li><a class="loved" href="#">{{this.snippet.title}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}
    <div class="col-md-{{param 'searchBarWidth'}}">
      <form class="youtube-search">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control youtube-query" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-toggle="clearResults"><span class="glyphicon glyphicon-remove" ></span></button>
          </span>
        </div>
      </form>
    </div>
    {{#if param 'viewToggle'}}
    <div class="col-md-{{param 'viewToggleWidth'}}">
      <div class="btn-group">
        <button data-action="show-list" type="button" class="btn btn-default {{#if sessionIs 'songView' 'list'}}active{{/if}}"><span class="glyphicon glyphicon-list"></span></button>
        <button data-action="show-grid" type="button" class="btn btn-default {{#if sessionIs 'songView' 'grid'}}active{{/if}}"><span class="glyphicon glyphicon-picture"></span></button>
      </div>
    </div>
    {{/if}}
    {{> searchResults}}
  </div>
  {{#if error}}
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{error}}
  </div>
  {{/if}}
</template>

<template name="searchResults">
  {{#with result}}
  <ul class="list-group" id="searchresults">
    {{#each items}}
      {{> searchResult}}
    {{/each}}
  </ul>
  {{/with}}
</template>

<template name="searchResult">
  <li class="youtube-result list-group-item">
    <div class="floatleft overlay-container" style="margin-right:20px">
      <p class="duration-container">{{formatDuration contentDetails.duration}}</p>
      <img src="{{snippet.thumbnails.default.url}}" alt="thumbnail" />
    </div>
    <div>
      <h4 class="list-group-item-heading">{{snippet.title}}</h4>
      <button type="submit" id="quickAdd" class="btn btn-primary btn-xs floatright">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button type="submit" id="quickLove" class="btn btn-danger btn-xs floatright">
        <span class="glyphicon glyphicon-heart"></span>
      </button>
      <span class="glyphicon glyphicon-thumbs-up green bold"></span> {{statistics.likeCount}}
      <span class="glyphicon glyphicon-thumbs-down red bold"></span> {{statistics.dislikeCount}}
      <a rel="external" href="http://youtu.be/{{id}}">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </div>
  </li>
</template>
