@import "../../stylesheets/variables_bootstrap.import.less";

html {
  position: relative;
  min-height: 100%;
}
body {
}

div.bgImg {
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
div.bgImg.home {
	background-image: url('../../../img/sheep_cropped.jpg');
}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: @gray-lighter;
}
#main {
  margin-bottom: 60px;
}

#iron-router-progress {
  background-color : @brand-primary;
  box-shadow       : 0 0 5px lighten(@brand-primary, 50%);
}
