<template name="playlist">
    <div class="row">
      <div class="col-md-4 hidden-xs">

        <div class="edittoggle collapse-group">
          <div id="playlistInfo" class="collapse in">
            <h1 id="playlistName">
              <small>{{{privacyIcon this}}}</small>
              &nbsp;{{title}}&nbsp;
              <a id="editToggle" data-toggle="collapse"><span class="glyphicon glyphicon-edit"></span></a>
            </h1>

            {{#if description}}
              <p class="lead">{{description}}</p>
            {{/if}}
            {{#if cover}}
              <img height="100px" src="{{cover}}" />
            {{else}}
              <img height="100px" src="/img/black-disk-icon.svg" />
            {{/if}}

          </div>

          <div id="updatePlaylistForm" class="collapse">
            <a href="" data-toggle="collapse"><span class="glyphicon glyphicon-remove"></span></a>
            {{> updatePlaylistForm}}
          </div>

          <br />
        </div>

        <div>
          {{#if playing}}
            <button class="btn btn-success" data-action="playlist-pause">
              <span class="glyphicon glyphicon-pause"></span> Pause
            </button>
          {{else}}
            <button class="btn btn-success" data-action="playlist-play">
              <span class="glyphicon glyphicon-play"></span> Play
            </button>
          {{/if}}
          {{#if following}}
          <button class="btn" data-action="unfollow">
            <span class="glyphicon glyphicon-minus"></span> Unfollow
          </button>
          {{else}}
          <button class="btn" data-action="follow">
            <span class="glyphicon glyphicon-plus"></span> Follow
          </button>
          {{/if}}
        </div>

        <div class="row">
          <div class="col-md-9">
            <h3>Followers</h3>
              {{#each followers}}
                {{>circleAvatar this}}
              {{else}}
                <p>None yet</p>
              {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Stats</h3>
          </div>
          <div class="panel-body">
            <p>Created: {{fromNow createdAt}}<br/>
              Owner: {{#with owner}}{{> userLink}}{{/with}}<br/>
              {{songCount}} songs
              {{#if songCount}}
                with a total length of {{totalDuration}}
              {{/if}}
              {{> contributionChart}}
            </p>
          </div>
        </div>

        {{>suggestions}}

        {{#if isOwner}}
          {{>ownerPanel}}
        {{/if}}
      </div>

      <div class="col-md-8">
        {{> searchBar viewToggle=true callback="searchCallback" }}
        {{> songs}}
      </div>
    </div>
</template>

<template name="updatePlaylistForm">
  {{> quickForm collection="Playlists" doc=editingDoc id="updatePlaylistForm" type="update" fields="title,cover,tags,description" buttonContent="Update"}}
</template>

<template name="ownerPanel">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Owner's panel</h3>
    </div>
    <div class="panel-body">
      <p>You are the owner of this playlist, so you can view fancy settings</p>
      <p>
        <button data-action="show-settings" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-cog"></span> Important settings
        </button>
      </p>
      {{#quickRemoveButton collection="Playlists" class="btn btn-danger btn-sm" _id=this._id
          onError=onError onSuccess=onSuccess beforeRemove=beforeRemove}}
        <span class="glyphicon glyphicon-trash"></span> Delete playlist
      {{/quickRemoveButton}}
    </div>
  </div>
</template>

<template name="songs">
  {{#each songs}}
    {{#if sessionIs 'songView' 'list'}}
      <div class="row song">
        {{> playlistEntry}}
      </div>
    {{else}}
      {{> playlistGridEntry}}
    {{/if}}
  {{/each}}
</template>

<template name="playlistGridEntry">
  <div class="col-md-4 col-xs-6 grid song">
    <div class="thumb" style="background-image:url('{{this.snippet.thumbnails.high.url}}')" >
      <span class="title">{{this.snippet.title}}</span>
      <span class="length label label-info">({{formatDuration this.contentDetails.duration}})</span>
      <div class="controls">
        {{> playlistEntryControls}}
        {{>loveSong}}
      </div>
    </div>
  </div>
</template>

<template name="playlistEntry">
  <div class="col-md-1 col-xs-1">
    {{>loveSong}}
  </div>
  <div class="col-md-9 col-xs-9 songtitle">
    <p>
      <strong>{{this.snippet.title}}</strong>
      <a rel="external" href="http://youtu.be/{{_id}}"><span class="glyphicon glyphicon-link"></span></a>
      ({{formatDuration this.contentDetails.duration}})
      {{#each this.users}}
        <span class="glyphicon glyphicon-headphones"></span>
        {{> userLink}}
      {{/each}}
    </p>
    <p class="meta">Added by {{#with this.author}}{{> userLink}}{{/with}} {{this.addedFromNow}}</p>
  </div>

  <div class="col-md-2 col-xs-2 controls">
    <div class="col-md-4 hidden-xs">&nbsp;</div>
    {{> playlistEntryControls}}
  </div>
</template>

<template name="playlistEntryControls">
  <div class="col-md-4 col-xs-6"><span data-action="play" class="glyphicon glyphicon-play"></span></div>
  <div class="col-md-4 col-xs-6"><span data-action="remove" class="glyphicon glyphicon-remove"></span></div>
</template>

<template name="loveSong">
  <span data-action="lovesong" class="glyphicon glyphicon-heart {{isLoved}}"></span>
</template>
