<template name="playlists">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">Newest playlists</h3>
	  </div>
	  <div class="panel-body">
		{{#each playlists}}
			{{> playlistsEntry}}
		 {{/each}}
	  </div>
	</div>
	<a href="{{pathFor 'allplaylists'}}">View all playlists</a>
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-plus"></span> Or add a new one</h2>
		{{> insertPlaylistForm}}
	</div>
</template>

<template name="allplaylists">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">All playlists</h3>
	  </div>
	  <div class="panel-body">
		{{#each playlists}}
			{{> playlistsEntry}}
		 {{/each}}
	  </div>
	</div>
</template>


<template name="insertPlaylistForm">
  {{> quickForm collection="Playlists" id="insertPlaylistForm" type="insert" fields="title,cover,tags,description"}}
</template>

<template name="playlistsEntry">
  <div class="floatleft playlist-container">
    <img height="50px" src="{{cover}}" /><br/>
    <a href="{{pathFor 'playlist'}}">{{title}}</a>
	<p>{{fromNow createdAt }}</p>
  </div>
</template>

<template name="playlist">
    <div class="row">
      <div class="col-md-4">

        <div class="edittoggle collapse-group">
          <a href="" data-toggle="collapse">edit <span class="glyphicon glyphicon-edit"></span></a>
          <div class="collapse in">

            <h1>{{title}}</h1>
            {{#if description}}
              <p class="lead">{{description}}</p>
            {{/if}}
            {{#if cover}}
              <img height="100px" src="{{cover}}" />
            {{else}}
              <img height="100px" src="/img/black-disk-icon.svg" />
            {{/if}}

          </div>

          <div class="collapse">
            {{> updatePlaylistForm}}
          </div>

          <br />

          <div>
            {{#if playing}}
              <button class="btn btn-success" data-action="playlist-pause">
                <span class="glyphicon glyphicon-pause"></span> Pause
              </button>
            {{else}}
              <button class="btn btn-success" data-action="playlist-play">
                <span class="glyphicon glyphicon-play"></span> Play
              </button>
            {{/if}}
            {{#if following}}
            <button class="btn" data-action="unfollow">
              <span class="glyphicon glyphicon-minus"></span> Unfollow
            </button>
            {{else}}
            <button class="btn" data-action="follow">
              <span class="glyphicon glyphicon-plus"></span> Follow
            </button>
            {{/if}}
          </div>

          <h3>Followers:</h3>
          <ul>
            {{#each followers}}
              <li>
                {{username this}}
              </li>
            {{else}}
              <li>Nobody</li>
            {{/each}}
          </ul>

          <h3>Currently playing:</h3>
          <ul>
            {{#each players}}
              <li>
                {{username this}}
              </li>
            {{/each}}
          </ul>
		  
		  <h3>Stats</h3>
			<p>Created: {{fromNow createdAt}}<br/>
			Owner:  {{username owner}}</p>
        </div>
		
		{{#if isOwner}}
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Owner's panel</h3>
		  </div>
		  <div class="panel-body">
			<p>You are the owner of this playlist, so you can view fancy settings</p>
			<p><button data-action="show-settings" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-cog"></span>Important settings</button></p>
			<p><button data-action="remove-playlist" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>Delete playlist</button></p>
		  </div>
		</div>
		{{/if}}
      </div>

      <div class="col-md-8">
        {{> playlistTabs}}
      </div>
    </div>
</template>

<template name="updatePlaylistForm">
  {{> quickForm collection="Playlists" doc=editingDoc id="updatePlaylistForm" type="update" fields="title,cover,tags,description"}}
</template>

<template name="playlistTabs">
	<div id="searchArea">
	  <form class="youtube-search">
		<div class="input-group">
		  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		  <input type="text" class="form-control youtube-query" placeholder="Search">
		    <span class="input-group-btn">
				<button class="btn btn-default" type="button" data-toggle="clearResults"><span class="glyphicon glyphicon-remove" ></span></button>
			</span>
		</div>
	  </form>
	  {{> searchResults}}
	</div>

    {{> songs}}
</template>

<template name="searchResults">
  {{#if error}}
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{error}}
	</div>
  {{/if}}

  {{#with result}}
    <ul class="list-group" id="searchresults">
    {{#each items}}
      {{> searchResult}}
    {{/each}}
    </ul>
  {{/with}}
</template>

<template name="searchResult">
  <li class="youtube-result list-group-item">
	<div class="floatleft overlay-container" style="margin-right:20px">
		<p class="duration-container">{{formatDuration song.contentDetails.duration}}</p>
		<img src="{{snippet.thumbnails.default.url}}" alt="thumbnail" />
	</div>
	<div>
		<h4 class="list-group-item-heading">{{snippet.title}}</h4>
		<button type="submit" id="quickAdd" class="btn btn-primary btn-xs floatright">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="submit" id="quickLove" class="btn btn-danger btn-xs floatright">
			<span class="glyphicon glyphicon-heart"></span>
		</button>
		<span class="glyphicon glyphicon-thumbs-up green bold"></span> {{song.statistics.likeCount}}
		<span class="glyphicon glyphicon-thumbs-down red bold"></span> {{song.statistics.dislikeCount}}
		<a rel="external" href="http://youtu.be/{{id.videoId}}">
			<span class="glyphicon glyphicon-link"></span>
		</a>
	</div>
  </li>
</template>

<template name="songs">
  {{#each songs}}
    <div class="row song">
      {{> playlistEntry}}
    </div>
  {{/each}}
</template>

<template name="playlistEntry">
  <div class="col-md-1">
  	  <span data-action="lovesong" class="glyphicon glyphicon-heart {{isLoved}}"></span>
  </div>
  <div class="col-md-9 songtitle">
    <p>

      <strong>{{this.snippet.title}}</strong> ({{formatDuration this.contentDetails.duration}})
      {{#each this.users}}
        {{username this}}
      {{/each}}
    </p>
  </div>

  <div class="col-md-2 controls">
	<div class="col-md-4">&nbsp;</div>
    <div class="col-md-4"><span data-action="play" class="glyphicon glyphicon-play"></span></div>
    <div class="col-md-4"><span data-action="remove" class="glyphicon glyphicon-remove"></span></div>
  </div>
</template>
