.tab-content {
	margin-top: 10px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
div.inline {
	display:inline-block;
}
.overlay-container {
	position:relative;
}
.duration-container {
	position: absolute;
	color: white;
	font-weight: bold;
	bottom: -10px;
	background-color: rgba(117, 226, 226, 0.83);
	padding: 4px;
}

.playlist-container:hover {
	background-color: #eee;
}
.playlist-container {
	width:19%;
	margin-left:10px;
	cursor:pointer;
	text-align:center;
}

button#quickLove {
	margin-right:10px;
}

form.youtube-search {
	margin-bottom: 1em;
}
.glyphicon-remove {
	cursor:pointer;
}

ul#searchresults {
	position:absolute;
	z-index:10;
	left:4em;	
}

li.youtube-result {
	overflow: auto;
	cursor: pointer;
	width:600px;
}
li.youtube-result:hover {
	background-color:#eee;
}

span[data-action*="play"] {
	color:black;
	cursor:pointer;
}
span[data-action*="play"]:hover {
	color:rgb(96, 185, 96); 
}
span[data-action*="remove"]:hover {
	color:rgb(196, 87, 87);
}

span[data-action*="lovesong"] {
	-webkit-transition: all 0.25s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform: scale(1,1);
	cursor:pointer;
}

span.loved,
span[data-action*="lovesong"]:hover {
	-webkit-transform: scale(2,2);
	color:rgba(196,87,87,0.5);
	
}

.red { 		color:rgb(196, 87, 87);		}
.green { 	color:rgb(96, 185, 96); 	}
.bold { 	font-weight:bold;			}