<template name="playlists">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title">Newest playlists</h3>
      </div>
      <div class="panel-body">
      {{#each playlists}}
        {{> playlistsEntry}}
       {{/each}}
      </div>
    </div>
  </div>
	<div class="col-md-4">
    <a href="{{pathFor 'allplaylists'}}" class="btn btn-info btn-lg" role="button">View all playlists</a>
  </div>
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-plus"></span> Or add a new one</h2>
		{{> insertPlaylistForm}}
	</div>
</template>

<template name="allplaylists">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">All playlists</h3>
	  </div>
	  <div class="panel-body">
		{{#each playlists}}
			{{> playlistsEntry}}
		 {{/each}}
	  </div>
	</div>
</template>


<template name="insertPlaylistForm">
{{#autoForm collection="Playlists" id="insertPlaylistForm" type="insert" }}
  {{> afQuickField name="title"}}
  {{> afQuickField name="cover"}}
  {{> afQuickField name="tags" }}
  {{> afFieldInput name="privacy" type="hidden"}}
  <label class="control-label" for="privacy">Privacy Setting</label>
  <div class="btn-group btn-group-md" id="privacyToggle">
      <button data-action="public" data-toggle="tooltip" data-placement="bottom" title="Your playlist will be viewable and editable by everyone" type="button" class="btn btn-default {{#if sessionIs 'playlistPrivacy' 'public'}}active{{/if}}">
        <span class="glyphicon glyphicon glyphicon-globe"></span> Public
      </button> 
      <button data-action="viewonly" data-toggle="tooltip" data-placement="bottom" title="Only you can edit your playlist, the rest can view and listen" type="button" class="btn btn-default {{#if sessionIs 'playlistPrivacy' 'viewonly'}}active{{/if}}">
        <span class="glyphicon glyphicon glyphicon-eye-open"></span> View only 
      </button>
      <button data-action="private" data-toggle="tooltip" data-placement="bottom" title="This playlist will only be visible by you" type="button" class="btn btn-default {{#if sessionIs 'playlistPrivacy' 'private'}}active{{/if}}">
        <span class="glyphicon glyphicon-lock"></span> Private
      </button>
  </div>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add!</button>
{{/autoForm}}
</template>

<template name="playlistsEntry">
  <div class="floatleft playlist-container">
    <img height="50px" src="{{cover}}" /><br/>
    <a href="{{pathFor 'playlist'}}">{{title}}</a>
	<p>{{fromNow createdAt }}</p>
  </div>
</template>

<template name="playlist">
    <div class="row">
      <div class="col-md-4 hidden-xs">

        <div class="edittoggle collapse-group">
          <div id="playlistInfo" class="collapse in">
            <h1 id="playlistName">
              <small>{{{privacyIcon this}}}</small>
              &nbsp;{{title}}&nbsp;
              <a id="editToggle" data-toggle="collapse"><span class="glyphicon glyphicon-edit"></span></a>
            </h1>

            {{#if description}}
              <p class="lead">{{description}}</p>
            {{/if}}
            {{#if cover}}
              <img height="100px" src="{{cover}}" />
            {{else}}
              <img height="100px" src="/img/black-disk-icon.svg" />
            {{/if}}

          </div>

          <div id="updatePlaylistForm" class="collapse">
            <a href="" data-toggle="collapse"><span class="glyphicon glyphicon-remove"></span></a>
            {{> updatePlaylistForm}}
          </div>

          <br />        
        </div>
        
        <div>
          {{#if playing}}
            <button class="btn btn-success" data-action="playlist-pause">
              <span class="glyphicon glyphicon-pause"></span> Pause
            </button>
          {{else}}
            <button class="btn btn-success" data-action="playlist-play">
              <span class="glyphicon glyphicon-play"></span> Play
            </button>
          {{/if}}
          {{#if following}}
          <button class="btn" data-action="unfollow">
            <span class="glyphicon glyphicon-minus"></span> Unfollow
          </button>
          {{else}}
          <button class="btn" data-action="follow">
            <span class="glyphicon glyphicon-plus"></span> Follow
          </button>
          {{/if}}
        </div>
        
        <div class="row">
          <div class="col-md-9">
            <h3>Followers</h3>
              {{#each followers}}
                {{>circleAvatar this}}
              {{else}}
                <p>None yet</p>
              {{/each}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Stats</h3>
          </div>
          <div class="panel-body">
            <p>Created: {{fromNow createdAt}}<br/>
              Owner: {{#with owner}}{{> userLink}}{{/with}}<br/>
              {{songCount}} songs
              {{#if songCount}}
                with a total length of {{totalDuration}}
              {{/if}}
              {{> contributionChart}}
            </p>
          </div>
        </div>
        
        {{>suggestions}}

		{{#if isOwner}}
      {{>ownerPanel}}
		{{/if}}
      </div>

      <div class="col-md-8">
        {{> playlistTabs}}
      </div>
    </div>
</template>

<template name="updatePlaylistForm">
  {{> quickForm collection="Playlists" doc=editingDoc id="updatePlaylistForm" type="update" fields="title,cover,tags,description" buttonContent="Update"}}
</template>

<template name="ownerPanel">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Owner's panel</h3>
    </div>
    <div class="panel-body">
      <p>You are the owner of this playlist, so you can view fancy settings</p>
      <p><button data-action="show-settings" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-cog"></span>Important settings</button></p>
      {{#afDeleteButton collection="Playlists" doc=editingDoc id="removeButton"}}
        <span class="glyphicon glyphicon-trash"></span> Delete playlist
      {{/afDeleteButton}}
    </div>
  </div>
</template>

<template name="contributionChart">
  <svg></svg>
</template>

<template name="playlistTabs">
	<div class="row" id="searchArea">
		<div class="col-md-10">
		  <form class="youtube-search">
			<div class="input-group">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			  <input type="text" class="form-control youtube-query" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-toggle="clearResults"><span class="glyphicon glyphicon-remove" ></span></button>
				</span>
			</div>
		  </form>
		</div>
		<div class="col-md-2">
			<div class="btn-group">
				<button data-action="show-list" type="button" class="btn btn-default {{#if sessionIs 'songView' 'list'}}active{{/if}}"><span class="glyphicon glyphicon-list"></span></button>
				<button data-action="show-grid" type="button" class="btn btn-default {{#if sessionIs 'songView' 'grid'}}active{{/if}}"><span class="glyphicon glyphicon-picture"></span></button>
			</div>
		</div>
		{{> searchResults}}
	</div>
    {{> songs}}
</template>

<template name="searchResults">
  {{#if error}}
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{error}}
	</div>
  {{/if}}

  {{#with result}}
    <ul class="list-group" id="searchresults">
    {{#each items}}
      {{> searchResult}}
    {{/each}}
    </ul>
  {{/with}}
</template>

<template name="searchResult">
  <li class="youtube-result list-group-item">
	<div class="floatleft overlay-container" style="margin-right:20px">
		<p class="duration-container">{{formatDuration contentDetails.duration}}</p>
		<img src="{{snippet.thumbnails.default.url}}" alt="thumbnail" />
	</div>
	<div>
		<h4 class="list-group-item-heading">{{snippet.title}}</h4>
		<button type="submit" id="quickAdd" class="btn btn-primary btn-xs floatright">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="submit" id="quickLove" class="btn btn-danger btn-xs floatright">
			<span class="glyphicon glyphicon-heart"></span>
		</button>
		<span class="glyphicon glyphicon-thumbs-up green bold"></span> {{statistics.likeCount}}
		<span class="glyphicon glyphicon-thumbs-down red bold"></span> {{statistics.dislikeCount}}
		<a rel="external" href="http://youtu.be/{{id}}">
			<span class="glyphicon glyphicon-link"></span>
		</a>
	</div>
  </li>
</template>

<template name="songs">
  {{#each songs}}
	{{#if sessionIs 'songView' 'list'}}
    <div class="row song">
      {{> playlistEntry}}
    </div>
	{{else}}
		{{> playlistGridEntry}}
	{{/if}}
  {{/each}}
</template>

<template name="playlistGridEntry">
	<div class="col-md-4 col-xs-6 grid song">
		<div class="thumb" style="background-image:url('{{this.snippet.thumbnails.high.url}}')" >
			<span class="title">{{this.snippet.title}}</span>
			<span class="length label label-info">({{formatDuration this.contentDetails.duration}})</span>
			<div class="controls">
				{{> playlistEntryControls}}
				{{>loveSong}}
			</div>
		</div>
	</div>
</template>

<template name="playlistEntry">
  <div class="col-md-1 col-xs-1">
	{{>loveSong}}
  </div>
  <div class="col-md-9 col-xs-9 songtitle">
    <p>
      <strong>{{this.snippet.title}}</strong>
      <a rel="external" href="http://youtu.be/{{_id}}"><span class="glyphicon glyphicon-link"></span></a>
      ({{formatDuration this.contentDetails.duration}})
      {{#each this.users}}
        <span class="glyphicon glyphicon-headphones"></span>
        {{> userLink}}
      {{/each}}
    </p>
	<p class="meta">Added by {{#with this.author}}{{> userLink}}{{/with}} {{fromNow this.added}}</p>
  </div>

  <div class="col-md-2 col-xs-2 controls">
	<div class="col-md-4 hidden-xs">&nbsp;</div>
	{{> playlistEntryControls}}
  </div>
</template>

<template name="playlistEntryControls">
    <div class="col-md-4 col-xs-6"><span data-action="play" class="glyphicon glyphicon-play"></span></div>
    <div class="col-md-4 col-xs-6"><span data-action="remove" class="glyphicon glyphicon-remove"></span></div>
</template>

<template name="loveSong">
  	  <span data-action="lovesong" class="glyphicon glyphicon-heart {{isLoved}}"></span>
</template>
