.tab-content {
	margin-top: 10px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
div.inline {
	display:inline-block;
}

.overlay-container {
	position:relative;
}
.duration-container {
	position: absolute;
	color: white;
	font-weight: bold;
	bottom: -10px;
	background-color: rgba(117, 226, 226, 0.83);
	padding: 4px;
}



.playlist-container:hover {
	background-color: #eee;
}
.playlist-container {
	width:19%;
	margin-left:10px;
	cursor:pointer;
	text-align:center;
}

button#quickLove {
	margin-right:10px;
}

form.youtube-search {
	margin-bottom: 1em;
}
.glyphicon-remove {
	cursor:pointer;
}

ul#searchresults {
	position:absolute;
	z-index:10;
	left:4em;	
	top:33px;
}

li.youtube-result {
	overflow: auto;
	cursor: pointer;
	width:600px;
}
li.youtube-result:hover {
	background-color:#eee;
}




span[data-action*="play"] {
	cursor:pointer;
}
span[data-action*="play"]:hover {
	color:rgb(96, 185, 96); 
}
span[data-action*="remove"]:hover {
	color:rgb(196, 87, 87);
}

span[data-action*="lovesong"] {
	-webkit-transition: all 0.25s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform: scale(1,1);
	cursor:pointer;
}

div.song{
	padding-top:5px;
	left:0%;
	position:relative;
	-webkit-transition: all 0.33s;
	-webkit-transition-timing-function: ease-out;
}
div.song:hover {
	background-color:#eee;
}
div.song.grid:hover {
	background-color:transparent;
}
div.song:hover div.controls {
	opacity:1;
}

div.song p.meta {
  font-size: 0.75em;
  margin: 0 0;
  color: #666;
}

div.controls {
	opacity:0;
}

div.song .thumb {
	position:relative;
	height: 200px;
	background-size: cover;
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin: 1em 0;
	padding: 5%;
	background-color: rgb(109, 109, 109);
	overflow: hidden;
	border-radius: 5%;
	border: 1px solid grey;
	opacity: 0.75;
}
div.songthumb:hover {
	opacity:1;
}

div.song .thumb span.length {
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	top: 0px;
	right: 0;
}
div.song .thumb span.title {
	font-size:1.5em;
	text-shadow:0px 0px 5px black;
}
div.song .thumb div.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.6);
	padding:5px;
	font-size: 1.5em;
	width: 100%;

}

span[data-action*="lovesong"] {
	color:white;
	text-shadow:0px 0px 1px grey;
}

span.loved,
span[data-action*="lovesong"]:hover {
	-webkit-transform: scale(1.6,1.6);
	color:rgba(196,87,87,0.5);
	text-shadow:none;
	
}

.red { 		color:rgb(196, 87, 87);		}
.green { 	color:rgb(96, 185, 96); 	}
.bold { 	font-weight:bold;			    }

.suggestion-row.list-group-item {
  padding:3px 3px;
}
.suggestion-row .glyphicon {
  opacity:0;
}
.suggestion-row:hover .glyphicon {
  opacity:1;
}