#youtube-embed {
	width: 640px;
	height: 480px;
}

#player-song-title {
	position: absolute;
	margin: 1px 10px 1px 10px;
	font-size: 13px;
}

#player-song-duration {
	position: absolute;
	margin: 1px 10px 1px 10px;
	font-size: 13px;
	right: 0px;
}

#player-progressbar-container {
	width: 100%;
	position: absolute;
}

#player-progressbar-container-overlay {
	width: 100%;
	position: absolute;
	z-index: 10000000;
	cursor: pointer;
	opacity: 0.0;
}

.active {
	color: #2a6496;
}