#youtube-embed {
	width: 640px;
	height: 480px;
}

#player-song-title {
	position: absolute;
	margin: 1px 10px 1px 10px;
	font-size: 13px;
}

#player-song-duration {
	position: absolute;
	margin: 1px 10px 1px 10px;
	font-size: 13px;
	right:2%;
}

#player-progressbar-container-overlay {
	width: 100%;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	opacity: 0.0;
}

#footer .active {
	color: #2a6496;
}
#footer .progress {
	height:25px;
	text-shadow:0px 1px 1px white;
	
}
#footer #playerSongList {
  left:-400px;
}