<template name="footer">
{{#if currentUser}}
  <div class="container">
    {{> player}}
  </div>
{{/if}}
</template>

<template name="player">
  <div id="player" class="container-fluid row">
    <div id="player-controls" class="col-md-2">
      <ul class="nav navbar-nav">
        <li><a href="#" class="player-control-button" id="player-play"><span class="glyphicon glyphicon-play"></span></a></li>
        <li><a href="#" class="player-control-button" id="player-pause"><span class="glyphicon glyphicon-pause"></span></a></li>
        <li><a href="#" class="player-control-button active" id="player-stop"><span class="glyphicon glyphicon-stop"></span></a></li>
      </ul>
    </div>
    <div id="player-progress" class="col-md-8">
      <div class="nav navbar-text progress" id="player-progressbar-container-overlay"></div>
      <div class="nav navbar-text progress" id="player-progressbar-container">
        <span id="player-song-title">This is the most awesome song ever - Awesomeness</span>
        <span id="player-song-duration">13:37</span>
        <div class="progress-bar progress-bar" id="player-progressbar" role="progressbar">
        </div>
      </div>
    </div>
    <div id="player-youtube" class="col-md-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropup">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-expand"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <div id="youtube-embed">
              </div>
            </li>
          </ul>
        </li>
        <li class="dropup">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-music"></span>
          </a>
          {{> currentPlaylist}}
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</template>

<template name="currentPlaylist">
  <ul class="dropdown-menu">
    {{#with currentPlaylist}}
      {{#each playlist.songs}}
        <li>
          {{> queueSong}}
        </li>
        <li class="divider"></li>
      {{/each}}
    {{/with}}
  </ul>
</template>

<template name="queueSong">
  <a>
    {{#if isCurrent ../playlist ../index}}
      <b>{{song.snippet.title}}</b>
    {{else}}
      {{song.snippet.title}}
    {{/if}}
  </a>
</template>